<div class="container-fluid bg-dark">
  <div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Signup Form
        </div>
        <div class="card-body">
          <form [formGroup]="signupform" (ngSubmit)="submit()">
            <div class="row">
              <div class="mb-3 col-md-6">
                <small class="text-muted">
                  <label for="fname">
                    First Name
                  </label>
                </small>
                <input type="text" formControlName="fname" id="fname" class="form-control">
                <span class="text-danger"
                  *ngIf="signupform.controls.fname.invalid && !signupform.controls['fname'].pristine">
                  <small>
                    Required (Min. length must be 3)
                  </small>
                </span>
              </div>
              <div class="mb-3 col-md-6">
                <small class="text-muted">
                  <label for="lname">
                    Last Name
                  </label>
                </small>
                <input type="text" id="lname" formControlName="lname" class="form-control">
                <span class="text-danger"
                  *ngIf="signupform.controls.lname.invalid && !signupform.controls['lname'].pristine">
                  <small>
                    Required (Min. length must be 3)
                  </small>
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <small class="text-muted">
                  <label for="email">
                    Email
                  </label>
                </small>
                <input type="email" class="form-control" id="email" formControlName="email">
                <span class="text-danger"
                  *ngIf="signupform.controls.email.invalid && !signupform.controls['email'].pristine">
                  <small>
                    Required (Invalid Email ID)
                  </small>
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <small class="text-muted">
                  <label for="mobile">
                    Mobile
                  </label>
                </small>
                <input type="number" class="form-control" id="mobile" formControlName="mobile">
                <span class="text-danger"
                  *ngIf="signupform.controls.mobile.invalid && !signupform.controls['mobile'].pristine">
                  <small>
                    Required (Length must be 10)
                  </small>
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <small class="text-muted">
                  <label for="file">
                    Image
                  </label>
                </small>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" (change)="uploadImage($event.target.files)" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="file">{{filename}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                <button type="reset" class="ml-3 btn btn-danger">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
